@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
  color: #fd8473;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

NAVIGATION BAR

*/

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 65px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fd8473;
  font-weight: lighter;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #fd8473;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

/* 

HOME PAGE 

*/

#landing {
  background-color: #f6e5c8;
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 24px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-header {
    height: 50vh;
}

.header--website-title {
  font-size: Arial; /* remove this after font size is changed throughout */
  color: #343030;
  text-shadow: 3px 3px 5px  #fd8473;
}

.header__description--pitch {
  font-style: italic;
  color: #020202;
  text-shadow: 3px 3px 5px #fd8473;
  font-weight: lighter;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #fd8473;
  color: white;
  padding: 12px 24px;
  margin-top: 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__learn-more-link {
  text-decoration: none;
  color: #fff;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 2;
}

/*

ERG PAGE

*/

#erg-menu {
  max-width: 75vw;
}

.erg-menu__row {
  margin-top: 56px;
  background-color: #f6e5c8;
  border-radius: 8px;
}

.erg-menu__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.erg-menu-option {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.erg-menu-option__button {
  margin-bottom: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erg-menu-option__img {
  color: #fff;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 24px;
}

.erg-menu-option__subtitle {
  letter-spacing: 5px;
}

#erg-info {
  max-width: 75vw;
}


.erg-info__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erg__text-para {
  line-height: 30px;
  font-size: 25px;
}

.erg-info__text-list {
  line-height: 50px;
  font-size: 20px;
}

#erg-events {
  max-width: 75vw;
}

.erg-events__container {
  background-color: #f6e5c8;
}

.erg-events__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.erg-event {
  border: solid 1px;
  width: 24%;
  padding: 24px;
  margin: 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.erg-events__title {
  font-size: 32px;
  margin-bottom: 32px;
}

/*

CONTACT PAGE

*/

.contacts__body {
  background-color: #f6e5c8;
}

form {
  background: rgba(186, 167, 144);
  width: 640px;
  margin: 90px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .title h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid rgb(231, 58, 10);
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 32px;
}
form .title h4 {
  letter-spacing: 6px;
  border-bottom: 1px solid rgb(231, 58, 10);
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}
form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid rgb(240, 111, 46);
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgb(240, 111, 46);
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action {
  margin-bottom: 50px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: cornsilk;
  color: rgb(235, 105, 62);
}

form .icons a {
  border: 1px solid rgb(233, 92, 45);
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .half .item input:focus,
form .full textarea:focus,
form .action input[type="reset"]:hover,
form .icons a:hover {
  background: rgb(235, 105, 62);
}
